/* global styles  */

:root{
  --pink: #FBF3FA;
  --text-color: #536472;
  --transition: all .3s ease 0s;
}

body{
  min-height: 100vh;
  background-color: #ece9e6;
}

input{
  border: 1px solid #c4c4c4;
}

/* global styles  */

/* mobile  */

.mobile-container{
  width: 320px;
  /* min-height: 100vh; */
  margin: 0 auto;
  background-color: #fff;
}

.meal{
  position: relative;
  border-radius: 8px;
}

.love-btn{
  color: #c4c4c4;
}

.love-btn.react{
  color: #536472;
}

.meal-header{
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.meal-header img{
  height: 200px !important;
  width: 100% !important;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: var(--transition);
}

.meal-header img:hover{
  transform: scale(1.1);
}

.meal-body{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.random{
  padding: 5px 10px;
  position: absolute;
  top: 8%;
  left: 0;
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(15px);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* mobile  */